<h1>This is the secret page</h1>

<p>You found me!</p>

<img src="https://vignette.wikia.nocookie.net/zelda/images/9/94/Bonus_Video_Chris_Houlihan%27s_Room_%28A_Link_to_the_Past%29/revision/latest/scale-to-width-down/425?cb=20130618002412"
    alt="Screentshot of Zelda Secret Room">


<li>
    <a href="/register">Sign Up</a>
</li>
<li>
    <a href="/login">Log In</a>
</li>
<li>
    <a href="/logout">Log Out</a>
</li>